<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.dao.MenuDao">
    <resultMap type="Menu" id="MenuResult">
        <result property="id" column="id"/>
        <result property="icon" column="icon"/>
        <result property="name" column="name"/>
        <result property="pId" column="p_id"/>
        <result property="roleId" column="roleId"/>
        <result property="url" column="url"/>
        <result property="menuId" column="menuId"/>
        <result property="dId" column="d_id"/>
    </resultMap>

    <resultMap type="Menu" id="Menu">
        <result property="id" column="id"/>
        <result property="icon" column="icon"/>
        <result property="name" column="name"/>
        <result property="pId" column="p_id"/>
        <result property="url" column="url"/>
        <result property="menuId" column="menuId"/>
        <result property="dId" column="d_id"/>
    </resultMap>

    <sql id="menuColumn">
        sm_menu.id
        , sm_menu.icon, sm_menu.name, sm_menu.p_id, sm_menu.menuId, sm_menu.url, sm_menu.d_id
    </sql>

    <select id="menuList" resultMap="MenuResult" parameterType="Integer">
        select <include refid="menuColumn"/>, t2.id as roleId
        from sm_menu,
        sm_role t2,
        sm_rolemenu t3
        where sm_menu.id = t3.menuId
        and t2.id = t3.roleId
        and t2.id = #{roleId}
    </select>

    <!-- 根据角色ID查询菜单 -->
    <select id="findByRoleIdMenu" parameterType="Integer" resultMap="MenuResult">
        select <include refid="menuColumn"/>
        from sm_menu,
             sm_rolemenu t2
        where sm_menu.id = t2.menuId
          and t2.roleId = #{roleId}
    </select>

    <select id="findByParentIdAndRoleId" parameterType="Integer" resultMap="MenuResult">
        select <include refid="menuColumn"/>
        from sm_menu
        where d_id = #{dId}
    </select>

    <select id="allMenuList" resultMap="Menu">
        select <include refid="menuColumn"/>
        from sm_menu
    </select>
</mapper> 